<!DOCTYPE html>
<meta charset="utf-8">
<div id="graph-container"></div>
<script src="@routes.Assets.versioned("javascripts/d3.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/sigma.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/sigma.plugins.dragNodes.min.js")" type="text/javascript"></script>
<style>
        #graph-container {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
        </style>

<script>
  var g = { nodes: [], edges: []};

  var width = 600,height = 900;
  var simulation = d3.forceSimulation()
          .force("link", d3.forceLink().id(function(d) { return d.id; }))
          .force("charge", d3.forceManyBody())
          .force("center", d3.forceCenter(width / 2, height / 2));

  var s = new sigma({
      renderer:{
          container:'graph-container',
          type:'canvas'
      },
      settings:{
          defaultNodeColor:'#ec5148',
          labelThreshold: 8
      }
  });

  d3.json("/names").then(function(graph) {

      simulation
              .nodes(graph.nodes);

      simulation.force("link")
              .links(graph.links);

      graph.nodes.forEach(function (item) {
          g.nodes.push({
              id: item.id,
              label: item.id,
              x: item.x,
              y: item.y,
              size: 5
              //color: '#ec5148'
          })
      });
      graph.links.forEach(function (i, j) {
          //console.log(i[0])
          //console.log(i);
          g.edges.push({
              id: 'e' + j,
              source: i.source.id,
              target: i.target.id,
              size: 1,
              color: '#999'
          });
      });
      console.log(g);



      g.nodes.forEach(function (d) {
          s.graph.addNode(d)
      });
      g.edges.forEach(function (d) {
          s.graph.addEdge(d)
      })

      s.refresh();

      s.settings('autoRescale', false);

      sigma.plugins.dragNodes(s, s.renderers[0]);

      function kNodeFor(d) {
          return nodeLayer.findOne('#' + d.id);
      }

      function moveKNode(d) {
          var circle = kNodeFor(d);
          if (typeof circle !== "undefined")
          {
              circle.position({
                  x: d.x,
                  y: d.y
              });
          }}

       //   simulation.start();
      simulation.on("tick", ticked);
      function ticked() {
        //console.log(s.graph.nodes())
          //if (g.nodes)
          g.nodes.forEach(function (d) {
              if (s.graph.nodes(d.id))
                s.graph.dropNode(d.id);
          })

          g.edges.forEach(function (d) {
              if(s.graph.edges(d.id))
                s.graph.dropEdge(d.id)
          });
          g.nodes.forEach(function (d) {
              s.graph.addNode(d)
          });
          g.edges.forEach(function (d) {
              s.graph.addEdge(d)
          })

          console.log(s.graph)
          s.refresh()

      }
/*
      function ticked(){

       // s.refresh();
          if (typeof s == "undefined") {


              var s = new sigma({
                  graph: g,
                  renderer:{
                      container:'graph-container',
                      type:'canvas'
                  },
                  settings:{
                      defaultNodeColor:'#ec5148',
                      labelThreshold: 8
                  }
              });

              sigma.plugins.dragNodes(s, s.renderers[0]);

          }
          else {
            s.refresh()
          }
      }*/
  });
</script>